@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


body {
    background-image: linear-gradient(to bottom, rgb(40, 40, 186), rgb(30, 30, 121));
    background-size: cover;
    font-family: "Plus Jakarta Sans", sans-serif;
}

#page-title {
    font-size: 3rem;
    font-weight: normal;
    color: #ffffff;
}

#container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px
}

#wrapper {
    position: relative;
    max-width: 800px;
    height: 300px;
    background-color: white;
    margin: 60px auto;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   

#central {
    width: 100%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px
}

#formulario {
    width: 100%;
    height: 100%;
    /* padding-top: 60px; */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

#formulario > input {
 padding: 6px 8px;
}

#formulario > button {
    padding: 10px 20px;
    background-color: rgb(40, 40, 186);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

#previa {
    position: relative;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#logo-estacio > img {
    width: auto;
    height: 35px;
    object-fit: contain;
    /* margin-bottom: 70px; */
}

#cartao {
    width: 300px;
    height: 180px;
    background-color: rgb(142, 182, 243);
    border-radius: 10px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 24px;
    padding: 32px;
}

#conteudo {
    display: flex;
    flex-direction: column;
}

#dados-cartao {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

#foto {
    width: 150px;
    aspect-ratio: 3/4;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    align-self: self-start;
    justify-content: center;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.5)
}


#foto > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

label {
    font-size: 0.8rem;
    margin-bottom: 4px;

}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.label-cartao {
    font-size: 0.8rem;
    font-weight: medium;
    margin-bottom: 4px;
}

.dado-cartao {
    font-size: 0.75rem;
    margin-bottom: 8px;
}

@media screen and (max-width: 768px) {
    #wrapper {
        flex-direction: column;
        height: auto;
        width: 350px;
    }

    #central {
        flex-direction: column;
        height: auto;
    }

    #formulario{
        order: 1;
    }

    #previa {
        margin-top: 20px;
        order: 0;
    }

    #page-title {
        margin-top: 60px;
        font-size: 2rem
    }
    
}